{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                    {{ include("foo/_form.html.twig", {form: form}) }}
                    <button class="btn btn-primary">Create</button>
                {{ form_end(form, {render_rest: false}) }}
            </div>
        </div>
    </div>
{% endblock %}
